[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt.git
[submodule "ranges-v3"]
	path = ranges-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "doctest"]
	path = doctest
	url = https://github.com/doctest/doctest.git
[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
